body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styling for the Spellbook components */
.spellbook {
  margin: auto;
  margin: 0;
  overflow: auto;
}

.spellbookHeader {
  display: flex;
  margin: 0;
  /* padding-left: 15px; */
  /* padding: 0; */
  overflow: hidden;
  background-color: #6E6856;
}

.spellbookHeader .headerSpellName {
  color: #dddddd;
  margin-left: 15px;
  margin-right: 15px;
  width: 500px;
  flex-wrap: wrap;
  display: flex;
  cursor: pointer;
}

.spellbookHeader .headerSpellLevel {
  color: #dddddd;
  margin-left: 15px;
  margin-right: 15px;
  width: 150px;
  flex-wrap: wrap;
  display: flex;
  cursor: pointer;
}

.spellbookHeader .headerSpellSchool {
  color: #dddddd;
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
  flex-wrap: wrap;
  display: flex;
  cursor: pointer;
}

.spellbookHeader .headerSpellAttack {
  color: #dddddd;
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
  flex-wrap: wrap;
  display: flex;
  cursor: pointer;
}

.spellbookHeader .headerSpellEffect {
  color: #dddddd;
  margin-left: 15px;
  margin-right: 15px;
  width: 250px;
  flex-wrap: wrap;
  display: flex;
  cursor: pointer;
}

.sortArrow {
  margin-top: 25px;
  margin-left: 5px;
}

.expandSpell {
  margin-top: 25px;
}

.spellRef {
  display: flex;
  border-top: solid;
  border-bottom: solid;
  border-color: #89826C;
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer;
}

.spellRef .spellName {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  width: 500px;
  flex-wrap: wrap;
}

.spellRef .spellName h5 {
  font-weight: normal;
}

.spellRef .spellLevel {
  margin-left: 15px;
  margin-right: 15px;
  width: 150px;
  flex-wrap: wrap;
}

.spellRef .spellSchool {
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
  flex-wrap: wrap;
}

.spellRef .spellAttack {
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
  flex-wrap: wrap;
}

.spellRef .spellEffect {
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
  flex-wrap: wrap;
}
.spellDesc {
  border-style: solid;
  border-color: #ABA387;
  display: block;
  background: #D6CCA9;
  margin: 5px;
  padding: 10px 20px;  
}

.spellDesc h2 {
  margin: 0;
  padding: 0;
}

.spellDesc p {
  margin: 0;
  padding: 0;
}

/* Styling for the Custom Multi-DropDown Component */
.dropDown {
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
}

.dropDownContainer {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 2px;
  width: 200px;
  overflow: hidden;
  position: relative;
}

.dropDownContainer p {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: gray;
}

.dropDownList {
  border-style: solid;
  border-bottom: none;
  border-width: 1px;
  background-color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
  width: 200px;
  position: absolute;
}

.dropDownX {
  margin: auto;
  border-left: solid;
  border-width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center
}

.dropDownX:hover {
  background-color: red;
}

.dropDownItem p {
  border-bottom: solid;
  border-width: 1px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000000;
}

.dropDownItem p:hover {
  background-color: lightblue;
}

.dropDownBox {
  float: left;
  margin: 0;
  padding: 0;
}

.dropDownSelected {
  display: inline-block;
  margin: 1px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding-left: 2px;
}

.dropDownSelected p {
  float: left;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #000000;
}

.dropDownSelectedX {
  float: right;
  margin: auto;
  margin-left: 5px;
  border-left: solid;
  border-width: 1px;
}

#dropDownSelectedXButton {
  height:12px;
}

.dropDownSelectedX:hover {
  background-color: red;
}

/* Styling for the Spellbook Filter */
.Filter {
  display: flex;
}

.Loading {
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}